{% if shop.customer_accounts_enabled %}
{% assign button_layout = 'simple_button' %}
{% endif %}
<a href="/apps/advanced-wishlist" class="hulk_wl_wishlist_icon" style="margin-top: 5px;">
  <div class="hulk_wl_wishlist_icon">
<i class="heart-hulk-animation"><i class="icon-wishlist-heart-empty" style="font-weight: 500;"></i></i>
  </div>
</a>
