<store-switcher class="store-switcher">
  {% comment %} All Brands Button {% endcomment %}
  <label class="store-switcher__btn store-switcher__btn--all-brands">
    <input type="radio" name="store-select" value="all brands" class="store-switcher__input">
    <span class="store-switcher-title">All Brands</span>
  </label>

  {% comment %} Individual Brand Buttons {% endcomment %}
  {% assign all_vendors = collections.all.all_vendors %}
  {% for vendor in all_vendors %}
    {% unless vendor == blank %}
      <label class="store-switcher__btn" data-vendor="{{ vendor | downcase | handle }}">
        <input type="radio" name="store-select" value="{{ vendor | downcase }}" class="store-switcher__input">
        <span class="store-switcher-title">{{ vendor }}</span>
      </label>
    {% endunless %}
  {% endfor %}
</store-switcher>