{%- liquid
  assign has_content = false
  assign cleaned_content = ''
  
  if content != blank and content != '' and content != nil
    comment
      First, check if there's actually meaningful content
    endcomment
    assign content_test = content | strip_html | strip | replace: '&nbsp;', '' | replace: ' ', '' | replace: '\n', '' | replace: '\r', '' | replace: '\t', ''
    
    if content_test != blank and content_test != '' and content_test.size > 0
      assign has_content = true
      
      comment
        Aggressive content cleaning
      endcomment
      assign cleaned_content = content
      
      comment
        First pass: normalize all br variants
      endcomment
      assign cleaned_content = cleaned_content | replace: '<br/>', '<br>'
      assign cleaned_content = cleaned_content | replace: '<br />', '<br>'
      assign cleaned_content = cleaned_content | replace: '<BR>', '<br>'
      assign cleaned_content = cleaned_content | replace: '<BR/>', '<br>'
      assign cleaned_content = cleaned_content | replace: '<BR />', '<br>'
      
      comment
        Remove problematic paragraph patterns - do this multiple times
      endcomment
      assign cleaned_content = cleaned_content | replace: '<p><br></p>', ''
      assign cleaned_content = cleaned_content | replace: '<p><br><br></p>', ''
      assign cleaned_content = cleaned_content | replace: '<p><br><br><br></p>', ''
      assign cleaned_content = cleaned_content | replace: '<p> </p>', ''
      assign cleaned_content = cleaned_content | replace: '<p></p>', ''
      assign cleaned_content = cleaned_content | replace: '<p>&nbsp;</p>', ''
      
      comment
        Second pass to catch any remaining empty paragraphs
      endcomment
      assign cleaned_content = cleaned_content | replace: '<p></p>', ''
      assign cleaned_content = cleaned_content | replace: '<p> </p>', ''
      assign cleaned_content = cleaned_content | replace: '<p>&nbsp;</p>', ''
      
      comment
        Remove br tags at end of paragraphs that create extra spacing
      endcomment
      assign cleaned_content = cleaned_content | replace: '<p><br>', '<p>'
      assign cleaned_content = cleaned_content | replace: '<br></p>', '</p>'
      assign cleaned_content = cleaned_content | replace: '<p><br><br>', '<p>'
      assign cleaned_content = cleaned_content | replace: '<br><br></p>', '</p>'
      
      comment
        Clean up double br tags within paragraphs - do this multiple times
      endcomment
      assign cleaned_content = cleaned_content | replace: '<br><br><br>', '<br>'
      assign cleaned_content = cleaned_content | replace: '<br><br>', '<br>'
      assign cleaned_content = cleaned_content | replace: '<br><br>', '<br>'
      
      comment
        Remove br tags at end of paragraphs again after br cleanup
      endcomment
      assign cleaned_content = cleaned_content | replace: '<br></p>', '</p>'
      
      comment
        Collapse multiple br tags - do this several times
      endcomment
      assign cleaned_content = cleaned_content | replace: '<br><br><br><br><br><br>', '<br><br>'
      assign cleaned_content = cleaned_content | replace: '<br><br><br><br><br>', '<br><br>'
      assign cleaned_content = cleaned_content | replace: '<br><br><br><br>', '<br><br>'
      assign cleaned_content = cleaned_content | replace: '<br><br><br>', '<br><br>'
      
      comment
        Remove standalone br tags outside of paragraphs
      endcomment
      assign cleaned_content = cleaned_content | replace: '</p><br><p>', '</p><p>'
      assign cleaned_content = cleaned_content | replace: '</p><br><br><p>', '</p><p>'
      assign cleaned_content = cleaned_content | replace: '</p><br><br><br><p>', '</p><p>'
      
      comment
        Clean up whitespace
      endcomment
      assign cleaned_content = cleaned_content | replace: '    ', ' '
      assign cleaned_content = cleaned_content | replace: '   ', ' '
      assign cleaned_content = cleaned_content | replace: '  ', ' '
      
      comment
        Remove leading/trailing br tags from entire content
      endcomment
      assign cleaned_content = cleaned_content | strip
      
      comment
        Remove br at very beginning
      endcomment
      assign content_start = cleaned_content | slice: 0, 4
      if content_start == '<br>'
        assign cleaned_content = cleaned_content | slice: 4, 999999
        assign cleaned_content = cleaned_content | strip
      endif
      
      comment
        Remove br at very end
      endcomment
      assign content_length = cleaned_content.size
      if content_length > 4
        assign content_end = cleaned_content | slice: -4, 4
        if content_end == '<br>'
          assign temp_size = content_length | minus: 4
          assign cleaned_content = cleaned_content | slice: 0, temp_size
          assign cleaned_content = cleaned_content | strip
        endif
      endif
      
      comment
        Final cleanup pass - remove any remaining empty elements
      endcomment
      assign cleaned_content = cleaned_content | replace: '<p></p>', ''
      assign cleaned_content = cleaned_content | replace: '<p> </p>', ''
      assign cleaned_content = cleaned_content | replace: '<div></div>', ''
      assign cleaned_content = cleaned_content | replace: '<div> </div>', ''
      assign cleaned_content = cleaned_content | strip
      
      comment
        Format text before colons to be bold
      endcomment
      comment
        Handle both br-separated and paragraph-wrapped content
      endcomment
      
      if cleaned_content contains '<p>'
        comment
          Content is in paragraphs
        endcomment
        assign content_paragraphs = cleaned_content | split: '<p>'
        assign formatted_paragraphs = ''
        
        for paragraph in content_paragraphs
          if paragraph contains '</p>'
            assign paragraph_content = paragraph | split: '</p>' | first | strip
            if paragraph_content contains ':'
              assign line_parts = paragraph_content | split: ':'
              assign text_before_colon = line_parts[0] | strip
              assign text_after_colon = line_parts[1] | strip
              assign formatted_paragraph = '<strong>' | append: text_before_colon | append: '</strong>: ' | append: text_after_colon
            else
              assign formatted_paragraph = paragraph_content
            endif
            
            if formatted_paragraph != ''
              if formatted_paragraphs == ''
                assign formatted_paragraphs = '<p>' | append: formatted_paragraph | append: '</p>'
              else
                assign formatted_paragraphs = formatted_paragraphs | append: '<p>' | append: formatted_paragraph | append: '</p>'
              endif
            endif
          endif
        endfor
        
        assign cleaned_content = formatted_paragraphs
      else
        comment
          Content is br-separated
        endcomment
        assign content_lines = cleaned_content | split: '<br>'
        assign formatted_lines = ''
        
        for line in content_lines
          assign trimmed_line = line | strip
          if trimmed_line contains ':'
            assign line_parts = trimmed_line | split: ':'
            assign text_before_colon = line_parts[0] | strip
            assign text_after_colon = line_parts[1] | strip
            assign formatted_line = '<strong>' | append: text_before_colon | append: '</strong>: ' | append: text_after_colon
          else
            assign formatted_line = trimmed_line
          endif
          
          if formatted_lines == ''
            assign formatted_lines = formatted_line
          else
            assign formatted_lines = formatted_lines | append: '<br>' | append: formatted_line
          endif
        endfor
        
        assign cleaned_content = formatted_lines
      endif
    endif
  endif
  

-%}

{%- if has_content -%}
<div class="collapsibles-wrapper collapsibles-wrapper--border-bottom">
  <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height{%- if force_open %} is-open{%- endif -%}" aria-controls="Product-content-{{ id }}"{%- if force_open %} aria-expanded="true"{%- endif -%}>
    {{- title | strip -}}
    {%- render 'collapsible-icons' -%}
  </button>
  <div id="Product-content-{{ id }}" class="collapsible-content collapsible-content--all{%- if force_open %} is-open{%- endif -%}"{%- if force_open %} style="height: auto;"{%- endif -%}>
    <div class="collapsible-content__inner rte">
      {{- cleaned_content -}}
    </div>
  </div>
</div>
{%- endif -%}