{%- liquid
  assign has_content = false
  assign cleaned_content = ''
  
  if content != blank and content != '' and content != nil
    comment
      First, check if there's actually meaningful content
    endcomment
    assign content_test = content | strip_html | strip | replace: '&nbsp;', '' | replace: ' ', '' | replace: '\n', '' | replace: '\r', '' | replace: '\t', ''
    
    if content_test != blank and content_test != '' and content_test.size > 0
      assign has_content = true
      
      comment
        Clean up the content spacing while preserving structure
      endcomment
      assign cleaned_content = content
      
      comment
        Remove excessive line breaks and empty paragraphs
      endcomment
      assign cleaned_content = cleaned_content | replace: '<br/>', '<br>'
      assign cleaned_content = cleaned_content | replace: '<br />', '<br>'
      assign cleaned_content = cleaned_content | replace: '<BR>', '<br>'
      
      comment
        Remove empty paragraphs and divs
      endcomment
      assign cleaned_content = cleaned_content | replace: '<p></p>', ''
      assign cleaned_content = cleaned_content | replace: '<p> </p>', ''
      assign cleaned_content = cleaned_content | replace: '<p>&nbsp;</p>', ''
      assign cleaned_content = cleaned_content | replace: '<div></div>', ''
      assign cleaned_content = cleaned_content | replace: '<div> </div>', ''
      
      comment
        Remove paragraphs containing only br tags
      endcomment
      assign cleaned_content = cleaned_content | replace: '<p><br></p>', ''
      assign cleaned_content = cleaned_content | replace: '<p><br><br></p>', ''
      assign cleaned_content = cleaned_content | replace: '<p><br><br><br></p>', ''
      
      comment
        Collapse multiple br tags - do this multiple times to catch nested cases
      endcomment
      assign cleaned_content = cleaned_content | replace: '<br><br><br><br><br><br>', '<br>'
      assign cleaned_content = cleaned_content | replace: '<br><br><br><br><br>', '<br>'
      assign cleaned_content = cleaned_content | replace: '<br><br><br><br>', '<br>'
      assign cleaned_content = cleaned_content | replace: '<br><br><br>', '<br><br>'
      assign cleaned_content = cleaned_content | replace: '<br><br><br>', '<br><br>'
      
      comment
        Remove excessive whitespace between lines but preserve some structure
      endcomment
      assign cleaned_content = cleaned_content | replace: '    ', ' '
      assign cleaned_content = cleaned_content | replace: '   ', ' '
      assign cleaned_content = cleaned_content | replace: '  ', ' '
      
      comment
        Clean up multiple newlines in a row
      endcomment
      assign temp_content = cleaned_content | newline_to_br
      assign temp_content = temp_content | replace: '<br><br><br><br>', '<br><br>'
      assign temp_content = temp_content | replace: '<br><br><br>', '<br><br>'
      assign cleaned_content = temp_content
      
      comment
        Remove leading and trailing br tags
      endcomment
      assign cleaned_content = cleaned_content | strip
      
      comment
        Check if content starts with br tag
      endcomment
      assign content_start = cleaned_content | slice: 0, 4
      if content_start == '<br>'
        assign cleaned_content = cleaned_content | remove_first: '<br>'
        assign cleaned_content = cleaned_content | strip
      endif
      
      comment
        Check if content ends with br tag
      endcomment
      assign content_length = cleaned_content.size
      if content_length > 4
        assign content_end = cleaned_content | slice: -4, 4
        if content_end == '<br>'
          assign temp_size = content_length | minus: 4
          assign cleaned_content = cleaned_content | slice: 0, temp_size
          assign cleaned_content = cleaned_content | strip
        endif
      endif
      
      assign cleaned_content = cleaned_content | strip
    endif
  endif
-%}

{%- if has_content -%}
<div class="collapsibles-wrapper collapsibles-wrapper--border-bottom">
  <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height{%- if force_open %} is-open{%- endif -%}" aria-controls="Product-content-{{ id }}"{%- if force_open %} aria-expanded="true"{%- endif -%}>
    {{- title | strip -}}
    {%- render 'collapsible-icons' -%}
  </button>
  <div id="Product-content-{{ id }}" class="collapsible-content collapsible-content--all{%- if force_open %} is-open{%- endif -%}"{%- if force_open %} style="height: auto;"{%- endif -%}>
    <div class="collapsible-content__inner rte">
      {{- cleaned_content -}}
    </div>
  </div>
</div>
{%- endif -%}