<section class="image-full-wrapper">
    {% if block.settings.image != blank %}
        <img
            src="{{ block.settings.image | img_url: 'master' }}"
            alt="Full width image"
            class="image-full"
            style="border-radius: {{ block.settings.image_border_radius }}px;"
        >
    {% endif %}
</section>
<style>
.image-full-wrapper {
    width: 100%;
    height: 100%;
} 
.image-full-wrapper img {
    min-width: 300px;
}
.image-full {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}
</style>
{% schema %}
{
  "name": "Global Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Upload Image"
    },
    {
      "type": "range",
      "id": "image_border_radius",
      "label": "Image Border Radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Global Image"
    }
  ]
}
{% endschema %}